button{
  padding: 1rem;
  border-radius: 15px;
}

.day{
  background-color: lightcyan;
  color: orangered;
}

.night {
  background-color: darkblue;
  color: lightyellow;
}

li{
  list-style: none;
}
